#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}



form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

input[type="radio"] {
  margin-left: 1.5rem;
}
